In [10]:
import mysql.connector as sql

config = {
    "host": "------",
    "port": "---",
    "database": "prac",
    "user": "----",
    "password": "------"
}

connection = sql.connect(**config)
cursor = connection.cursor()

query = "SELECT * FROM prac.p_posit"
cursor.execute(query)
columns = [col[0] for col in cursor.description]
result = cursor.fetchall()

cursor.close()
connection.close()

In [7]:
import pandas as pd

In [12]:
data = pd.DataFrame(result, columns = columns)

In [13]:
data.head()

,Product ID,Product Position,Price,Competitor Price,Promotion,Foot Traffic,Consumer Demographics,Product Category,Seasonal,Sales Volume
0,185102,Aisle,17.07,16.16,No,Medium,Families,Clothing,No,2823
1,188771,Aisle,17.41,13.13,No,Low,Seniors,Clothing,No,654
2,180176,End-cap,43.16,38.37,Yes,Medium,Young adults,Electronics,Yes,2220
3,112917,Aisle,42.26,38.98,Yes,Low,Families,Clothing,Yes,1568
4,192936,End-cap,47.94,45.59,No,Medium,College students,Clothing,Yes,2942

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Product ID             1000 non-null   int64
 1   Product Position       1000 non-null   object
 2   Price                  1000 non-null   float64
 3   Competitor Price       1000 non-null   float64
 4   Promotion              1000 non-null   object
 5   Foot Traffic           1000 non-null   object
 6   Consumer Demographics  1000 non-null   object
 7   Product Category       1000 non-null   object
 8   Seasonal               1000 non-null   object
 9   Sales Volume           1000 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [19]:
#number of products
len(data['Product ID'].unique())

989

In [27]:
pd.DataFrame(data.groupby('Foot Traffic')['Product ID'].count())

              Product ID
Foot Traffic
High                 340
Low                  322
Medium               338

In [26]:
pd.DataFrame(data.groupby('Product Position')['Product ID'].count())

                  Product ID
Product Position
Aisle                    340
End-cap                  342
Front of Store           318

In [35]:
#UNIQUE values
unique_values_dict = {}

for col in data.select_dtypes('object').columns:
    print(f'{col}: ', data[col].unique())

Product Position:  ['Aisle' 'End-cap' 'Front of Store']
Promotion:  ['No' 'Yes']
Foot Traffic:  ['Medium' 'Low' 'High']
Consumer Demographics:  ['Families' 'Seniors' 'Young adults' 'College students']
Product Category:  ['Clothing' 'Electronics' 'Food']
Seasonal:  ['No' 'Yes']

In [ ]:
#saving data
df.to_csv('data.csv', index=False)